.homebanner-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(249, 239, 227);
    margin-top: 60px;
}

.left-text {
    text-align: left;
}

.left-text h1 {
    font-size: 3rem;
    margin-bottom: 6px;
}

.shop-btn {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 20px;
    font-size: 1.1rem;
    font-weight: 400;
}

.shop-btn:hover {
    background-color: black;
    color: white;
    transition: 1s ease 0.2s;
}

.homebanner-right {
    width: 40%;
    height: 350px;
}

@media only screen and (max-width: 687px) {
    .homebanner-container {
        width: 100%;
        height: auto;
        padding: 20px;
        /* border: 1px solid brown; */
        margin-bottom: 250px;
        margin-top: 90px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .homebanner-left {
        /* border: 1px solid yellow; */
        width: 100%;
    }

    .homebanner-right {
        /* border: 1px solid green; */
        height: auto;
        width: 60%;
    }

    .homebanner-right h3 {
        text-align: center;
    }

    .left-text {
        text-align: center;
    }

    .left-text h1 {
        font-size: 2rem;
    }
}