.additionalinformation-container {
    /* border: 1px solid brown; */
    width: 88%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.additional-top {
    width: 280px;
    background-color: black;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.additional-key {
    width: 20%;
}

.addtional-info-text {
    display: flex;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 8px;
    padding-bottom: 4px;
}