.dashboards-container {
    width: 90%;
    border: 1px solid gainsboro;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.dashboard-left {
    /* border: 1px solid green; */
    margin-right: 20px;
}

.dashboard-right {
    /* border: 1px solid brown; */
    margin: 0 auto;
}

@media only screen and (max-width: 687px) {
    .dashbord-text-con {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .dashboards-container {
        width: 95%;
        padding: 0;
    }

    .dashboard-left {
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }

    .dashboard-right {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
    }

}