.descriptions-container {
    /* border: 1px solid brown; */
    width: 88%;
    margin: 0 auto;
    margin-top: 30px;
}

.description-design {
    background-color: black;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    width: 150px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.left-descriptions img {
    height: 400px;
}

.right-description h5 {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

.right-description p {
    text-align: justify;
    margin-top: 30px;
    font-size: 17px;
    color: rgb(84, 84, 84);
    font-weight: 400;
}